.quest {
  margin-bottom: 120px;
  padding-bottom: 40px;


  @media only screen and (max-width: 991px) {
    margin-bottom: 70px;
    padding-bottom: 30px;
  }

  .sept__title {
    position: relative;
    margin-bottom: 40px;
    z-index: 1;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }


    span {
      color: #f04027;
    }
  }

  &__inner {
    position: relative;
  }

  &__before {
    position: absolute;
    display: flex;
    align-items: center;
    top: -18%;
    right: 20%;

    @media only screen and (max-width: 991px) {
      top: -50px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
      grid-gap: 7px;
    }

  
  }

  &__item {
    padding: 15px;
    display: grid;
    grid-template-columns: 74px 1fr;
    grid-gap: 20px;
    align-items: center;
    background: #f3f3f3;
    border-radius: 20px;
    
  }

  &__img {
    display: flex;
    align-items: center;
  }

  &__info {
    p {
      font-weight: 700;
      font-size: 16px;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 102%;
      margin-top: 5px;
      color: #7e7e7e;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    padding: 5px 14px;
    border-radius: 23px;
    background: #4789CE;
    gap: 19px;
    color: #fff;
  }
}
