

<div class="quest">
  <div class="container">
    <div class="quest__inner">
      <div class="quest__before">
        <img src="images/quest-bef.png" alt="">
      </div>
      <h2 class="sept__title">Решим вопрос с канализацией для вас навсегда <span>быстро и надежно</span></h2>


      <div class="quest__items">

        <div class="quest__item">
          <div class="quest__img">
            <img src="images/q1.png" alt="">
          </div>

          <div class="quest__info">
            <p>Вы оставляете заявку</p>
            <span>Мы перезвоним, чтобы понять, что вам нужно и предложить лучшие варианты, а также ответить на все ваши вопросы</span>
          </div>
        </div>
        <div class="quest__item">
          <div class="quest__img">
            <img src="images/q2.png" alt="">
          </div>

          <div class="quest__info">
            <p>Доставляем и устанавливаем</p>
            <span>Привозим септик, аккуратно монтируем, подключаем. Весь процесс занимает 1 рабочий день — без грязи, раскопок на весь двор и «стройки на неделю»</span>
          </div>
        </div>
        <div class="quest__item">
          <div class="quest__img">
            <img src="images/q3.png" alt="">
          </div>

          <div class="quest__info">
            <p>Приезжает наш инженер</p>
            <span>Приезжаем бесплатно, смотрим участок, задаём 2–3 простых вопроса — и сразу на месте подбираем модель, которая вам точно подойдёт</span>
          </div>
        </div>
        <div class="quest__item">
          <div class="quest__img">
            <img src="images/q4.png" alt="">
          </div>

          <div class="quest__info">
            <p>Вы пользуетесь — как в квартире</p>
            <span>Без запахов, без регулярной откачки, без сложного обслуживания. Душ, унитаз, техника — всё работает, и вы больше не думаете об этом</span>
          </div>
        </div>
      </div>


      <div class="quest__grids">

        <div class="quest__grid">
          <img src="images/i1.svg" alt="">
          <p>Без запаха, грязи и регулярной откачки</p>
        </div>
        <div class="quest__grid">
          <img src="images/i2.svg" alt="">
          <p>Подберём под конкретный участок</p>
        </div>
        <div class="quest__grid">
          <img src="images/i3.svg" alt="">
          <p>Всё под ключ — от подбора до запуска</p>
        </div>
        <div class="quest__grid">
          <img src="images/i4.svg" alt="">
          <p>Гарантия до 25 лет</p>
        </div>
      </div>


       <a href="#" class="mod__btn btn">
        <div class="btn-before">
          <span>Заказать звонок</span>
        </div>
      </a>
    </div>
  </div>
</div>