<div class="header__menu menu">
  <div class="menu__wrapper">
    <ul class="menu__list">
      <!-- Многоуровневое меню -->
      <li class="menu__item dropdown">
        <a href="#">Продукция</a>
        <ul class="menu__sub-list">
          <li class="menu__item"><a href="#">Продукция</a></li>
          <li class="menu__item"><a href="#">Продукция</a></li>
        </ul>
      </li>
			<li class="menu__item dropdown">
        <a href="#">Производство</a>
        <ul class="menu__sub-list">
          <li class="menu__item"><a href="#">Производство</a></li>
          <li class="menu__item"><a href="#">Производство</a></li>
        </ul>
      </li>
      <li class="menu__item"><a href="#">Калькулятор</a></li>
			<li class="menu__item"><a href="#">Доставка и оплата</a></li>
			<li class="menu__item dropdown">
        <a href="#">О нас</a>
        <ul class="menu__sub-list">
          <li class="menu__item"><a href="#">О нас</a></li>
          <li class="menu__item"><a href="#">ПродО насукция</a></li>
        </ul>
      </li>
			<li class="menu__item"><a href="#">Контакты</a></li>
    </ul>
  </div>
</div>
