<div class="widj">
  <div class="container">
    <form action="#">
      <div class="widj__inner">
        <h2 class="sept__title">Ответьте на <span>5 простых</span> вопросов</h2>

        <div class="widj__text">
          и получите точную модель, стоимость и предложение с установкой под
          ключ
        </div>

        <div class="widj__info">
          <div class="widj__top">
            <div class="widj__line">
              <div class="widj__line-inner">
                <div></div>
              </div>
              <div class="widj__line-text">Вопрос 1 из 5</div>
            </div>
          </div>

          <div class="widj__container">
            <div class="step active" id="step-1">
              <div class="widj-first">
                <div class="widj__container--title">Тип вашего объекта</div>

                <div class="widj__container--items">
                  <div class="widj__container--item">
                    <input type="radio" name="first" />
                    <div class="widj__container--img">
                      <img src="images/f1.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Дом</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="first" />
                    <div class="widj__container--img">
                      <img src="images/f2.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Дача</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="first" />
                    <div class="widj__container--img">
                      <img src="images/f3.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Гостиница</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="first" />
                    <div class="widj__container--img">
                      <img src="images/f4.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Другое</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="step-2">
              <div class="widj-second">
                <div class="widj__container--title">
                  Сколько людей проживают на объекте?
                </div>

                <div class="widj__container--items">
                  <div class="widj__container--item">
                    <input type="radio" name="second" />
                    <div class="widj__container--img">
                      <img src="images/st1.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>1-3</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="second" />
                    <div class="widj__container--img">
                      <img src="images/st2.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>7-9</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="second" />
                    <div class="widj__container--img">
                      <img src="images/st3.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>4-6</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="second" />
                    <div class="widj__container--img">
                      <img src="images/st4.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>более 10</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="step-3">
              <div class="widj-third">
                <div class="widj__container--title">
                  Какой уровень грунтовых вод на участке?
                </div>

                <div class="widj__container--items">
                  <div class="widj__container--item">
                    <input type="radio" name="third" />
                    <div class="widj__container--img">
                      <img src="images/g1.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Высокий</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="third" />
                    <div class="widj__container--img">
                      <img src="images/g2.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Низкий</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="third" />
                    <div class="widj__container--img">
                      <img src="images/g3.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Не знаю</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="step-4">
              <div class="widj-fourth">
                <div class="widj__container--title">
                  Куда планировали отводить очищенную воду?
                </div>

                <div class="widj__container--items">
                  <div class="widj__container--item">
                    <input type="radio" name="fourth" />
                    <div class="widj__container--img">
                      <img src="images/v1.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Дренажный колодец</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="fourth" />
                    <div class="widj__container--img">
                      <img src="images/v2.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Дренажная траншея</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="fourth" />
                    <div class="widj__container--img">
                      <img src="images/v3.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Канава, овраг</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="fourth" />
                    <div class="widj__container--img">
                      <img src="images/st4.png" alt="" />
                    </div>
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Не знаю</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="step-5">
              <div class="widj-five">
                <div class="widj__container--title">
                  В какие сроки необходимо установить септик?
                </div>

                <div class="widj__container--items">
                  <div class="widj__container--item">
                    <input type="radio" name="five" />

                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>Как можно быстрее</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="five" />

                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>В течении месяца</span>
                    </div>
                  </div>
                  <div class="widj__container--item">
                    <input type="radio" name="five" />
                    
                    <div class="widj__container--info">
                      <div class="widj__container--check">
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            fill="#F4F4F4"
                          />
                          <rect
                            x="0.5"
                            y="0.75"
                            width="23"
                            height="23"
                            rx="5.5"
                            stroke="#7E7E7E"
                          />
                          <path
                            d="M19 6.35419L11.8083 19.25L5 12.2006L7.87395 9.22515L10.9367 12.3961L15.4796 4.25L19 6.35419Z"
                            fill="#51B16D"
                          />
                        </svg>
                      </div>
                      <span>В течении 3 месяцев</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="step-6">
              <div class="widj-six">
                <div class="widj__container--title">
                  Для рассчета оставьте свои контактные данные
                </div>
                <div class="widj__container--text">
                  Мы свяжемся с вами в течении часа, ответим на все вопросы и
                  предоставим расчет для вашего объекта
                </div>

                <div class="widj__form">
                  <label class="field">
                    <input type="text" placeholder="Ваше имя" />
                  </label>

                  <label class="field">
                    <input
                      type="text"
                      placeholder="Номер телефона"
                      class="mask"
                    />
                  </label>

                  <label class="checkbox">
                    <span class="checkbox__inner">
                      <input type="checkbox" class="checkbox" checked />
                      <span></span>
                    </span>
                    <span class="checkbox__text"
                      >Я даю согласие на обработку моих персональных данных в
                      соответствии с
                      <a href="#">Политикой конфиденциальности</a></span
                    >
                  </label>

                  <button type="submit" class="btn-form">Отправить</button>
                </div>
              </div>
            </div>
            <div class="step" id="thanks">
              <div class="thanks-content">
                <div class="thanks-content__img">
                  <img src="images/thanks.png" alt="" />
                </div>
                <div class="thanks-content__info">
                  <h3 class="thanks-content__title title">
                    Данные отправлены!
                  </h3>
                  <p>Мы свяжемся с вами в течении часа</p>
                </div>
              </div>
            </div>

            <div class="buttons">
              <a href="#" class="widj-prev" disabled>
                <svg
                  width="23"
                  height="24"
                  viewBox="0 0 23 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.68295 11.963L9.38195 3.37578L11.7062 5.46022L5.87621 11.963L11.7062 18.4659L9.38195 20.5503L1.68295 11.963Z"
                    fill="white"
                  />
                  <path
                    d="M10.5288 11.963L18.2278 3.37578L20.5521 5.46022L14.7221 11.963L20.5521 18.4659L18.2278 20.5503L10.5288 11.963Z"
                    fill="white"
                  />
                </svg>
                Назад
              </a>
              <a href="#" class="widj-next">
                Далее
                <svg
                  width="23"
                  height="24"
                  viewBox="0 0 23 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.3171 11.537L13.618 20.1242L11.2938 18.0398L17.1238 11.537L11.2938 5.03415L13.618 2.94971L21.3171 11.537Z"
                    fill="#3C3C3C"
                  />
                  <path
                    d="M12.4712 11.537L4.77216 20.1242L2.44788 18.0398L8.2779 11.537L2.44788 5.03415L4.77216 2.94971L12.4712 11.537Z"
                    fill="#3C3C3C"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
