<div class="mont">
  <div class="container">
    <div class="mont__inner">
      <div class="mont__info">
        <div class="mont__before">
          <img src="images/before.png" alt="" />
        </div>
        <h2 class="sept__title">
          Как мы <span>производим</span> монтаж септиков
        </h2>

        <a href="images/video.mp4" data-fancybox="video" style="display: flex;">
          <div class="mont__video">
            <div class="mont__videos_video">
              <div class="mont__videos_play active">
                <img src="images/play-vid.svg" alt="" />
              </div>

              <video class="">
                <source src="images/video.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </a>
      </div>

      <div class="mont__items">
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon1.png" alt="" />
          </div>
          <div class="mont__name">Краснодарский край, КП "Женева"</div>
          <div class="mont__desc">Евролос БИО 5+/600</div>

          <a
            href="images/mon-g1.jpg"
            class="mont__more"
            data-fancybox="gallery1"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon2.png" alt="" />
          </div>
          <div class="mont__name">хутор Ленина, г. Крамнодар</div>
          <div class="mont__desc">Еврлос Био 5+</div>

          <a
            href="images/mon-g1.jpg"
            class="mont__more"
            data-fancybox="gallery2"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon3.png" alt="" />
          </div>
          <div class="mont__name">ст. Григорьевская, Краснодарский край</div>
          <div class="mont__desc">Евролос Био 6+</div>

          <a
            href="images/mon2-g.jpg"
            class="mont__more"
            data-fancybox="gallery3"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon4.png" alt="" />
          </div>
          <div class="mont__name">Ст. Ставропольская, Краснодарский край</div>
          <div class="mont__desc">Евролос БИО 6+/600</div>

          <a
            href="images/mon3-g.jpg"
            class="mont__more"
            data-fancybox="gallery4"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon5.png" alt="" />
          </div>
          <div class="mont__name">Ст. Новодмитриевсая, Краснодарский край</div>
          <div class="mont__desc">Евролос БИО 5+</div>

          <a
            href="images/mon4-g.jpg"
            class="mont__more"
            data-fancybox="gallery5"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
        <div class="mont__item">
          <div class="mont__img">
            <img src="images/mon6.png" alt="" />
          </div>
          <div class="mont__name">Ст. Старокорсунская, Краснодарский край</div>
          <div class="mont__desc">Евролос БИО 5+</div>

          <a
            href="images/mon5-g.jpg"
            class="mont__more"
            data-fancybox="gallery6"
          >
            <span>Смотреть</span>

            <svg
              width="15"
              height="9"
              viewBox="0 0 15 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.3536 4.78227C14.5488 4.587 14.5488 4.27042 14.3536 4.07516L11.1716 0.893178C10.9763 0.697916 10.6597 0.697916 10.4645 0.893178C10.2692 1.08844 10.2692 1.40502 10.4645 1.60028L13.2929 4.42871L10.4645 7.25714C10.2692 7.4524 10.2692 7.76898 10.4645 7.96425C10.6597 8.15951 10.9763 8.15951 11.1716 7.96425L14.3536 4.78227ZM0 4.42871L-4.37114e-08 4.92871L14 4.92871L14 4.42871L14 3.92871L4.37114e-08 3.92871L0 4.42871Z"
                fill="#4789CE"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <a
    href="images/mon6-g2.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g3.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g4.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g5.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g6.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g7.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
  <a
    href="images/mon6-g8.jpg"
    data-fancybox="gallery1"
    style="display: none"
  ></a>
</div>

<div>
  <a
    href="images/mon-g2.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g3.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g4.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g5.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g6.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g7.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g8.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
  <a
    href="images/mon-g9.jpg"
    data-fancybox="gallery2"
    style="display: none"
  ></a>
</div>

<div>
  <a
    href="images/mon2-g2.jpg"
    data-fancybox="gallery3"
    style="display: none"
  ></a>
  <a
    href="images/mon2-g3.jpg"
    data-fancybox="gallery3"
    style="display: none"
  ></a>
  <a
    href="images/mon2-g4.jpg"
    data-fancybox="gallery3"
    style="display: none"
  ></a>
  <a
    href="images/mon2-g5.jpg"
    data-fancybox="gallery3"
    style="display: none"
  ></a>
</div>

<div>
  <a
    href="images/mon3-g1.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g2.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g3.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g5.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g6.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g7.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
  <a
    href="images/mon3-g8.jpg"
    data-fancybox="gallery4"
    style="display: none"
  ></a>
</div>

<div>
  <a
    href="images/mon4-g1.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
  <a
    href="images/mon4-g2.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
  <a
    href="images/mon4-g3.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
  <a
    href="images/mon4-g4.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
  <a
    href="images/mon4-g5.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
  <a
    href="images/mon4-g6.jpg"
    data-fancybox="gallery5"
    style="display: none"
  ></a>
</div>

<div>
  <a
    href="images/mon5-g1.jpg"
    data-fancybox="gallery6"
    style="display: none"
  ></a>
  <a
    href="images/mon5-g2.jpg"
    data-fancybox="gallery6"
    style="display: none"
  ></a>
  <a
    href="images/mon5-g3.jpg"
    data-fancybox="gallery6"
    style="display: none"
  ></a>
  <a
    href="images/mon5-g4.jpg"
    data-fancybox="gallery6"
    style="display: none"
  ></a>
</div>
