<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__info">
        <h1 class="showcase__title">
          Установка <span>септиков</span> в Краснодаре
        </h1>

        <span class="showcase__key">под ключ </span>

        <div class="showcase__labels">
          <div class="showcase__label">
            <svg
              width="33"
              height="33"
              viewBox="0 0 33 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.3657 8.90848L15.7888 28.9756L4.8291 18.0061L9.45546 13.376L14.3858 18.3103L21.6987 5.63416L27.3657 8.90848Z"
                fill="#51B16D"
              />
            </svg>
            <span> с гарантией до 25 лет </span>
          </div>
          <div class="showcase__label">
            <svg
              width="33"
              height="33"
              viewBox="0 0 33 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.3657 8.90848L15.7888 28.9756L4.8291 18.0061L9.45546 13.376L14.3858 18.3103L21.6987 5.63416L27.3657 8.90848Z"
                fill="#51B16D"
              />
            </svg>
            <span> по выгодным ценам </span>
          </div>
        </div>

        <div class="showcase__items">
          <div class="showcase__item">
            <div class="showcase__icon">
              <img src="images/sw1.png" alt="" />
            </div>
            <div class="showcase__name">Установка за 1 день</div>
          </div>
          <div class="showcase__item">
            <div class="showcase__icon">
              <img src="images/sw2.png" alt="" />
            </div>
            <div class="showcase__name">Доступна рассрочка</div>
          </div>
          <div class="showcase__item">
            <div class="showcase__icon">
              <img src="images/sw3.png" alt="" />
            </div>
            <div class="showcase__name">Бесплатный выезд замерщика</div>
          </div>
          <div class="showcase__item">
            <div class="showcase__icon">
              <img src="images/sw4.png" alt="" />
            </div>
            <div class="showcase__name">Работает круглый год, не замерзает</div>
          </div>
        </div>

        <div class="showcase__foot">
          <span>Забудьте про запах, откачку и грязь. Поможем выбрать, привезём и установим — всё сделаем за вас</span>
          <a href="#" class="showcase__btn btn">
            <div class="btn-before">
              <p>Подобрать за 2 минуты</p>
              <svg
                width="34"
                height="31"
                viewBox="0 0 34 31"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M33.9999 15.6203L20.2756 30.9281L16.1323 27.2123L26.525 15.6203L16.1323 4.02836L20.2756 0.312622L33.9999 15.6203Z"
                  fill="#ED3D24"
                />
                <path
                  d="M18.2314 15.6203L4.50706 30.9281L0.36377 27.2123L10.7564 15.6203L0.36377 4.02836L4.50706 0.312622L18.2314 15.6203Z"
                  fill="#ED3D24"
                />
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="showcase__img">
        <img src="images/showcase.png" alt="">
      </div>
    </div>
  </div>
</div>
