</main>
<footer class="footer">
	<div class="container">
		<div class="footer__inner">


			<div class="footer__left">
			<p>	© 2025 Кубань-Септик</p>
				<span>Септики под ключ в Краснордаре. Все права защищены</span>
			</div>

			<div class="footer__soc">
				<a href="#">
					<img src="images/rutube.svg" alt="">
					<span>Мы на Рутубе</span>
				</a>

				<a href="#">
					<img src="images/youtube.svg" alt="">
					<span>Мы на ютубе</span>
				</a>
			</div>
		</div>
	</div>
</footer>
</div>

<a href="https://yandex.ru/profile/197855626323?lang=ru" target="_blank" class="widj-reviws">
	<img src="images/widj-rev.svg" alt="">
</a>





<script
	src="https://api-maps.yandex.ru/2.1/?apikey=aa738ede-ae14-4127-ad41-0327820e270b&amp;lang=ru_RU&amp;load=package.full&amp;onload=init"
	type="text/javascript"></script>
<script src="libraries/jquery-3.7.1.min.js"></script>
<script src="libraries/swiper/swiper-bundle.min.js"></script>
<script src="libraries/fancybox/jquery.fancybox.min.js"></script>
<script src="libraries/slick/slick.min.js"></script>

<script src="libraries/imask.js"></script>
<script src="js/all-scripts.js"></script>

@@include('../modals/callback/template.html',{})
</body>

</html>