<div class="sept">
  <div class="container">
    <div class="sept__inner">
      <h2 class="sept__title title">Популярные модели септиков</h2>

      <div class="sept__items">
        <div class="sept__item">
          <div class="sept__left">
            <div class="sept__number">4 чел</div>

            <div class="sept__img">
              <img src="images/s1.png" alt="" />
            </div>
          </div>

          <div class="sept__info">
            <div class="sept__name">Кит 4</div>

            <div class="sept__list">
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Обслуживание: 1 раз в год</span>
              </li>
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Подходит для высоких грунтовых вод</span>
              </li>
            </div>

            <div class="sept__price">
              <span>Цена с установкой:</span>
              <p>120 500 ₽</p>
            </div>
          </div>
        </div>
        <div class="sept__item">
          <div class="sept__left">
            <div class="sept__number">3–4 чел</div>

            <div class="sept__img">
              <img src="images/s1.png" alt="" />
            </div>
          </div>

          <div class="sept__info">
            <div class="sept__name">Евролос Про 3</div>

            <div class="sept__list">
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Идёт с компрессором — ещё чище и тише</span>
              </li>
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Служит более 50 лет</span>
              </li>
            </div>

            <div class="sept__price">
              <span>Цена с установкой:</span>
              <p>132 620 ₽</p>
            </div>
          </div>
        </div>
        <div class="sept__item">
          <div class="sept__left">
            <div class="sept__number">3–4 чел</div>

            <div class="sept__img">
              <img src="images/s3.png" alt="" />
            </div>
          </div>

          <div class="sept__info">
            <div class="sept__name">Евробион 4</div>

            <div class="sept__list">
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Энергозависимая — но потребляет очень мало</span>
              </li>
              <li>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.927 4.85918L8.61232 15.8049L2.63428 9.8215L5.15774 7.29599L7.84702 9.98744L11.8359 3.07318L14.927 4.85918Z"
                    fill="#51B16D"
                  />
                </svg>
                <span>Практически не требует обслуживания</span>
              </li>
            </div>

            <div class="sept__price">
              <span>Цена с установкой:</span>
              <p>136 500 ₽</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
