<div class="feed">
  <div class="container">
    <div class="feed__inner">
      <div class="feed__info">
        <div class="feed__thanks" style="display: none;">
          <div class="thanks-content">
            <div class="thanks-content__img">
              <img src="images/thanks.png" alt="" />
            </div>
            <div class="thanks-content__info">
              <h3 class="thanks-content__title title">Данные отправлены!</h3>
              <p>Мы свяжемся с вами в течении часа</p>
            </div>
          </div>
        </div>
        <div class="feed__aside" >
          <h2 class="feed__title">
          Сделаем подбор и расчёт — бесплатно, за 2 минуты
        </h2>

        <div class="feed__text">
          Заполните короткую форму — и получите расчёт, подходящую модель и дату
          выезда.
        </div>

        <div class="widj__form">
          <div class="feed__labels">
            <label class="field">
              <input type="text" placeholder="Ваше имя" />
            </label>

            <label class="field">
              <input type="text" placeholder="Номер телефона" class="mask" />
            </label>
          </div>

          <label class="checkbox">
            <span class="checkbox__inner">
              <input type="checkbox" class="checkbox" checked="" />
              <span></span>
            </span>
            <span class="checkbox__text"
              >Я даю согласие на обработку моих персональных данных в
              соответствии с <a href="#">Политикой конфиденциальности</a></span
            >
          </label>

          <button type="submit" class="feed__btn btn">
            <div class="btn-before">Заказать звонок</div>
          </button>
        </div>
        </div>
      </div>

      <div class="feed__content">
        <div class="feed__content--top">
          Для строительных бригад — особые партнёрские условия
        </div>

        <div class="feed__content--text">
          Сотрудничаем с частными застройщиками, прорабами и ИП. Предоставляем
          скидки, техподдержку, расчёт под проект и приоритетную отгрузку со
          склада.
        </div>

        <div class="feed__img">
          <img src="images/feed.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
