.pagination {
	margin-top: 35px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 10px;
	color: var(--green_2);
	@media (max-width: 479.98px) {
		margin-top: 20px;
		.btn {
			width: 100%;
		}
	}
	&__btn.hide {
		display: none;
	}
}

.pagination,
.pagination__wrapper,
.pagination__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@media (max-width: 479.98px) {
		justify-content: center;
	}
}

.pagination__wrapper,
.pagination__list {
	gap: 10px;
	@media (max-width: 479.98px) {
		gap: 7px;
	}
}

.pagination__list {
	list-style: none;
	text-align: center;
}

.pagination__item {
	min-width: 30px;
	padding: 5px;
	border-radius: 5px;
	-webkit-transition:
		background-color 0.3s,
		color 0.3s;
	-o-transition:
		background-color 0.3s,
		color 0.3s;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.pagination__item:hover,
.pagination__item.current {
	background-color: var(--green_2);
	color: var(--white);
}

.pagination .prev {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
