<div class="pagination">
	<div class="pagination__wrapper">
		<a class="pagination__btn prev hide" href="">
			<img src="images/icons/arrow-pag.svg" alt="">
		</a>
		<div class="pagination__list">
			<span class="pagination__item current">1</span>
			<a href="#" class="pagination__item">2</a>
			<a href="#" class="pagination__item">3</a>
			<a href="#" class="pagination__item">4</a>
			<a href="#" class="pagination__item">5</a>
			<span class="pagination__item">...</span>
			<a href="#" class="pagination__item">15</a>
		</div>
		<a href="#" class="pagination__btn next">
			<img src="images/icons/arrow-pag.svg" alt="">
		</a>
	</div>
	<a href="#" class="btn"><span>Показать еще</span></a>
</div>