<div class="mod">
  <div class="container">
    <div class="mod__inner">
      <div class="mod__left">
        <img src="images/mod-before.png" alt="" />
      </div>
      <div class="mod__right">
        <img src="images/mod-before.png" alt="" />
      </div>

      <h2 class="sept__title title">
        Более <span>100 моделей</span> септиков от ведущих производителей
      </h2>

      <div class="mod__items">
        <div class="mod__item">
          <img src="images/m1.png" alt="" />
        </div>
        <div class="mod__item">
          <img src="images/m2.png" alt="" />
        </div>
        <div class="mod__item">
          <img src="images/m3.png" alt="" />
        </div>
        <div class="mod__item">
          <img src="images/m4.png" alt="" />
        </div>
        <div class="mod__item">
          <img src="images/m5.png" alt="" />
        </div>
      </div>

      <div class="mod__text">
        Есть решения для дач, домов с ПМЖ, старых построек и новых участков —
        монтаж под ключ
      </div>

      <a href="#" class="mod__btn btn">
        <div class="btn-before">
          <span>Cкачать каталог</span>
        </div>
      </a>
    </div>
  </div>
</div>
